body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('cancha.jpg'); /* Cambia 'cancha.jpg' por la ruta de tu imagen de cancha */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.button-blue {
    width: 100px;
    height: 100px;
    background-color: #0074D9;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
p {
    display: inline-block;
    color: black;
    margin-top: 34px;
}
